<!DOCTYPE html>
<html>
<head>
  <title>Papernapkin</title>
  <link rel="stylesheet" type="text/css" href="css/papernapkin.css">
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36244108-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>
  <div id="container">
    <h1 class="domain">PaperNapkin.<span class="tld">com</span></h1>
    <h2 class="tagline">Imagine: An inspired name as your domain.</h2><br>
    <strong class="msg">Interested in buying Papernapkin.com?<br>
    Please send us a note. Thanks.</strong>
     <%= render 'form' %>
  </div>
</body>
</html>