<div id="container">
  <h1 class="domain">PaperNapkin.<span class="tld">com</span></h1>
  <h2 class="tagline">Imagine: An inspired name as your domain.</h2><br>
  <strong class="msg">Interested in buying Papernapkin.com?<br>
  Please send us a note. Thanks.</strong>
   <%= render 'form' %>
</div>
